*{  margin: 0;
  padding: 0;}
html, body {
  height: 100vh;
}


@font-face {
    font-family: "alpino";
    src: url("FONT/Alpino-Variable.ttf") format("truetype");
}


@font-face {
    font-family: "pex";
    src: url("FONT/Pex445-Regular.ttf") format("truetype");
}






<div style="text-align: center;">
    <img src="TS/240428_TETE_MULET.png" alt="Image">
</div>