*{  margin: 0;
  padding: 0;}
html, body {
  height: 100vh;
}


@font-face {
    font-family: "alpino";
    src: url("FONT/Alpino-Variable.ttf") format("truetype");
}


@font-face {
    font-family: "pex";
    src: url("FONT/Pex445-Regular.ttf") format("truetype");
}

#nom_projet 
{
    margin-top: 30vh;
    width: 40vw;
    left: 10vw;
	position: absolute;
	overflow: auto;
	color: black;
}

p1{
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 5vmin;
    font-family: "pex";
    
}


#explication_projet 
{
    margin-top: 50vh;
    width: 25vw;
    left: 10vw;
	position: absolute;
	overflow: auto;
	color: black;
}


p2{
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 2vmin;
    font-family: "alpino";
    
}






.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15vh;
    width: 40vw;
    left: 47vw;
}

.image1 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.image2 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.image3 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.image4 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.image5 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}


.image6 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.image7 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.image8 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.image9 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.image10 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}


.image11 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}


.image12 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.image13 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.image14 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.image15 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.image16 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.video1 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.video2 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.video3 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}

.video4 {
    margin-top: 20px; /* Espacement de 20px entre chaque image */
}





#made
{
    margin-top: 800vh;
    width: 90vw;
    left: 5;
	position: absolute;
	overflow: auto;
	color: black;
}







p13{
    margin-left: 3vw;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 2vmin;
    font-family: "pex";
    
}






#image_home {
	position: fixed;
	width: 5vw;
    left: 4vw;
    margin-top: 4vh;
}


#contact {
	right: 4vh;
	top: 4vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3.5vh;
	color: black;
    font-family: "pex";
}

#contact:hover{
    color: darksalmon;
    
   